<!-- begin footer -->
<footer class="footer">
  <div class="container">

    {% if site.data.settings.mailchimp %}
    {% include subscribe.html %}
    {% else %} {% endif %}

    {% if site.data.settings.instagram %}
    {% include instagram.html %}
    {% else %} {% endif %}

    {% include contact-link.html %}

    <div class="copyright">地址：东莞市虎门镇龙眼九路53号，电话： 0769-81227490/82887982, 传真： 0769-81227704 <br/> 手机:(+86)137-2586-0789 Email: ba7lnn@dgeastom.com  <br/>Copyright &copy; {{site.time | date: '%Y'}} <a href="/">羿通实业</a>  All right Reserved.</div>
</div>
</footer>
<!-- end footer -->
